*
{
  text-decoration: none;
}
header
{
  width: 111%;
  padding: 0 0.25em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: blueviolet  ;
}
footer
{
  background-color: coral;
}
label:hover
{
  cursor: pointer;
}